@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lato", system-ui, sans-serif;
  }
}

@layer utilities {
  .bg-gradient {
    background-image: linear-gradient(90deg, #e96443, #904e95);
  }

  .footer-bg {
    background-color: rgb(36, 32, 32);
  }

  html {
    /* width */
    ::-webkit-scrollbar {
      width: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background-color: #C0C8CBFF;
    }
  }


}